# .env.example

# Задается напрямую только для прямого запуска.
# В Docker собирается из составных частей
DATABASE_URL=sqlite+aiosqlite:///<your_database>.db

# Для PostgreSQL в Docker-контейнере
DB_USER="user_example"
DB_PASSWORD="password_example"
DB_NAME="mylibrary"

# Настройки для JWT и хеширования паролей
SECRET_KEY=""
ALGORITHM="HS256"  # Алгоритм шифрования (по умолчанию HS256)
ACCESS_TOKEN_EXPIRE_MINUTES="1440"  # По умолчанию 1440 минут, т.е. 24 часа

DEBUG="True"  # Режим отладки